* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}
body {
    background-color: #1E2330;
}

/*Header*/
/*Navbar*/
.navbar {
    display: flex;
    justify-content: space-evenly;
    height: 60px;
    width: 100%;
}
.link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.link a {
    color: white;
    text-decoration: none;
    font-weight: 700;
}
.link a:hover {
    color: greenyellow;
}
.link1 {
    margin-left: 20px;
}
.link1 a {
    font-size: 1.5rem;
    color: greenyellow;
}
.link1 a:hover {
    color: rgb(131, 199, 30);
}
.link5 {
    margin-right: 20px;
}
.h1 {
    background: linear-gradient(45deg, rgb(0, 233, 0), greenyellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
